<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Clean Blog - Inscription</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
              <h2 class="mb-4">Créer un compte</h2>
              <% if(errors != null && errors.length > 0) { %>
                  <ul class="list-group">
                      <% for (var i = 0; i < errors.length; i++) { %>
                          <li class="list-group-item list-group-item-danger">
                              <%= errors[i] %>
                          </li>
                      <% } %>
                  </ul>
              <% } %>
              <form id="userForm" action="/users/register" method="POST">
                <div class="form-floating">
                  <input
                    class="form-control"
                    name="username"
                    value="<%= username %>"
                    id="username"
                    type="text"
                    placeholder="Nom d'utilisateur"
                    required
                  />
                  <label for="username">Nom d'utilisateur</label>
                </div>

                <div class="form-floating">
                  <input
                    class="form-control"
                    name="password"
                    value="<%= password %>"
                    id="password"
                    type="password"
                    placeholder="Mot de passe"
                    required
                  />
                  <label for="password">Mot de passe</label>
                </div>

                <br />

                <button
                  class="btn btn-primary text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  S'inscrire
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
